.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

body {
  background: #f3f4f6;
}

.btn-primary {
  background-color: #4f46e5;
  border-color: #4f46e5;
}

.btn-primary:hover {
  background-color: #4338ca;
  border-color: #4338ca;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}